// Roboto

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

// Roboto Slab
@font-face {
  font-family: "Roboto-Slab";
  src: url("../fonts/Roboto-Slab/RobotoSlab-Regular.ttf");
}
