// General colors
$pink: #d37272;
$green: #64cd72;
$brown: #413d3d;

// Text colors
$textColor-primary: #504b54;
$textColor-secondary: #716c76;
$textColor-heading: #aa4545;

// Background Colors
$backgroundColor-primary: #f5f5f5;
